body{
    background-color: #FFF;
}

.blog{
 
    color: rgb(134, 134, 211);
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
}

.cards{
    margin-bottom: 100px;
    margin-top: 100px;
}
.card{
    width: 700px;
    height: 450px; 
} 

.cardss{
    display: flex;
  
}
.volume{
    width:500px;
    height: 500px;
    

}
.demn{
    width: 500px;
}
.dare{
    width: 600px;
    height: 550px;
    margin-bottom: 200px;
}
.functio{
    flex-wrap: wrap;
    gap: 100px;
}


.flexing{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.butt{
    background-color:linen;
    padding: 20px;
    

}
.lorem1{
    display: flex;
    flex-wrap: wrap;
}
.link1{
    color: grey;
    font-size: 20px;
}
.dot1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.mail1{
    width: 40px;
    height: 40px;
}
.mail2{
    width: 30px;
    height: 30px;
}
.font{
    padding: 20px;
    color: rgb(61, 15, 189);
    cursor: pointer;
}
.mare{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size:40px;
    margin:20px;
}
.poop{
    background-color:rgb(88, 174, 202);
    color: #fff;

    width: 200px;
    position: relative;
    top:24px;
    font-weight: 700;
}
.lorem{
    margin:20px;
    text-align: justify;

}
 .whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    gap: 50PX;
    

}
.wear{
    width: 250px;
    height: 300px;
    background-color: rgb(241, 241, 241);
    padding-top: 30px;
}
.wear2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  
}
.small1{
    font-size: smaller;
}
.tap1{
    width: 70px;
    height: 70px;
}

.got1{
    width: 300px;
    height: 40px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    font-size:medium;
    font-weight: 600;
    color:#fff;
}
.got2{
    width: 300px;
    height: 40px;
    border: none;
    background-color:blue;
    border-radius: 5px;
    font-size:medium;
    font-weight: 600;
    color:#fff;

}
.but4{
    width: 210px;
    height: 40px;
    border: none;
    background-color:blue;
    border-radius: 5px;
    font-size:medium;
    font-weight: 600;
    color:#fff;
}
.width{
    width: 265px;
    margin-right: 10px;
  
  
}
.fire1{
    
    color: #fff;
}
.got2:hover{
    background-color: blue;
}
.faf1{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fast1{
    color: rgb(99, 55, 156);
    font-weight: 600;
}


  @media screen and (max-width: 792px) {
    
    .demn{
        width: 0px;
    }
    .card{
        width: 360px;
    }
    .lorem{
        width: 300px;
    }
   
    .blog{
        font-size: 20px;
    }
   
  }

  
  /* **************************************************************** */
 
.container{
    display:flex;
}

.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

.fasd1{
    display: flex;
}
.fasd2{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
/* ************************************************ */
.post-title1{
    font-size: x-large;
    font-weight: 600;
}

.header1{
    text-align: center;
    margin-bottom: 20px;
}
.error1{
    color: red;
    text-align: center;
}
.posts-container1{
    border:1px solid #f1f1f1;
   
}

  
  .post-card1 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 800px;
    min-height: 500px;
    max-height: 1000px;
  }

  
  .post-date1 {
    color: #888;
    margin-bottom: 20px;
  }
  
  .post-content1 {
    margin-bottom: 20px;
   
    
  }
  .mand{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;

 
  }








.blogl{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: Orange ;
}


  /* 88888888888888888888 */

  .blog-container.blur {
    filter: blur(5px);
    pointer-events: none;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
  }
  
  .close-modal {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
  