.recent{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color:#F6B300;
}
.recent4{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color:#fff;
    margin-top: 20px;
}
.recent1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.recen{
   
    margin-top: 50px;
    text-align: justify;
    margin: 20px;
    margin-top: 100px;
    color:#fff;
    

}
.get1{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #F6B300;
}
.find1{
    width: 400px;
    height: 400px;
    
}
.butt0{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('images/devil.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.butt9{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('images/devil2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.butt8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('images/devil1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.double{
    border-radius: 5px;
    color: #fff;
    background-color:blue;
    width: 100px;
}


.round{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.to1{
    width: 200px;
    height: 200px;

}
.font1{
    margin-top: 20px;
    text-align: center;
}
.child1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.child2{
    display: flex;
    justify-content: center;
}
.rer1{
    margin-top: 10px;
}
.der1{
    text-align: center;
    margin-top: 20PX;
    margin-bottom: 100PX;
}
.fun1{
    display: flex;
    flex-direction: column;
    color: red;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}
.dive1{
    margin-top: 100px;
}
.back1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('images/back1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.back2{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40PX;
   
}
.back3{
    display: flex;
    justify-content: center;
}
.para2{
    font-size: 40px;
    color: #fff;
 
}
.para3{
    color: #F6B300;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
.para4{
    color: #fff;
    text-align: justify;
    text-align: center;
    margin-top: 25PX;
    line-height: 1.5;
  
}
.with1{
    width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
