.dec1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #F6B300;
}
.clss1{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;

 
}
.poto1{
    width: 500px;
    height: 300px;
}
.poto2{
    width: 500px;
    height: 300px;
    position: relative;
    bottom: 60px;
    left: 130px;
}
.poto3{
    width: 500px;
    height: 300px;
    position: relative;
    right: 130px;
    bottom: 60px;
}
.dev1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
.dev2{
    text-align: justify;
    width: 400px;

}

@media (min-width:0px) and (max-width:930px) {
    .poto2{
        display: none;
    }
    .poto3{
        display: none;
    }
    .poto1{
        width: 350px;
    }
    .dev2{
        width: 300px;
    }
  }
  