.blogs2{
    display: flex;
    gap:150px;
}
.snow9{
    margin-top: 100px;
    width: 1500px;
    height: 2000px;
}
.fon3{
    margin-top: 100px;
    display: flex;
    gap: 90px;
}
.head0{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(228, 162, 76);
    margin-top: 50px;
    margin-bottom: 50px;

}
.titleInput{
    width: 500px;
    text-align: center;
    margin-right: 100px;
}
.dateInput{
    padding: 10px;
   
    margin-bottom: 20px;
}
.lole1{
    margin-bottom: 50px;
}
.createPostButton{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color:burlywood;
}
.head4{
    font-size: 60px;
}