.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}








.casd{
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ffffff69;
  border-radius: 6px;
  padding-left:25px;
  width: 100%;
  
}

.casd1{
  
  padding: 10px;
  border: 1px solid #ffffff69;
  border-radius: 6px;
  padding-left:25px;
  width: 100%;
}